{%extends 'base.html'%}
{%load static%}

{%block body%}
<!-- Page Header-->
<header class="masthead" style="background-image: url({%static 'assets/img/contact-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Create Blog</h1>
                    <span class="subheading">Let's create the blog.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <div class="my-5">
               
                    <form id="contactForm" method="post">
                        {%csrf_token%}
                        <div class="form-floating">
                            <input class="form-control" id="id_title" for="id_title" name="title" type="text" value="{{title}}" placeholder="Enter your name..."  autofocus data-sb-validations="required" />
                            <label for="id_title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="id_subheading" for="id_subheading" name="subheading" type="text" value="{{subheading}}" placeholder="Enter your email..." data-sb-validations="required,email" />
                            <label for="id_subheading">SubHeading</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                     
                        <div class="form-floating">
                            <textarea class="form-control" id="id_description" for="id_description" name="description" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required">{{description}}</textarea>
                            <label for="id_description">Description</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <br />
                       
                       
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}